.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    background-color: transparent;
    z-index: 1000;
}
.logo a{
    text-decoration: none;
}
.logo img{
    height: 200px;
}