.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.members{
    height: 100vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}
.members a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-size: 5rem;
}
.members a:hover{
    color: rgba(245, 245, 245, 0.2);
}