.routes{
    display: flex;
    flex-direction: column;
    font-family: "Poiret One", sans-serif;
}
.routes a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    margin-block: 1rem;
}